body {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-moz-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-webkit-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-ms-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
}

@-o-keyframes nodeInserted {  
    from {  
        clip: rect(1px, auto, auto, auto);  
    }
    to {  
        clip: rect(0px, auto, auto, auto);
    }  
} 

.focusable {
    animation-duration: 0.001s;
    -o-animation-duration: 0.001s;
    -ms-animation-duration: 0.001s;
    -moz-animation-duration: 0.001s;
    -webkit-animation-duration: 0.001s;
    animation-name: nodeInserted;
    -o-animation-name: nodeInserted;
    -ms-animation-name: nodeInserted;        
    -moz-animation-name: nodeInserted;
    -webkit-animation-name: nodeInserted;
}

#desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}

#profile_login_page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#profile_login_page > ul {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 300px;
}

#profile_login_page > ul > li {
	position: relative;
	margin-bottom: 10px;
	background: gray;
	border-radius: 5px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
}

#profile_login_page .focusable:hover {
	background: yellow;
}

#profile_login_page .focusable.focused {
	background: red;
}

